asttokens==2.4.1
audioread==3.0.1
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.2
decorator==4.4.2
executing==2.0.1
filelock==3.13.1
fonttools==4.53.1
fsspec==2024.2.0
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
ipykernel==6.29.5
ipython==8.26.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.4.2
jsonpickle==3.2.2
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mido==1.3.2
more-itertools==10.3.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
-e git+https://github.com/darinchau/music21.git@204e9d0b9eec2f2d6ff8d8d3b13c41f912050604#egg=music21
nest-asyncio==1.6.0
networkx==3.2.1
numba==0.60.0
numpy==1.26.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.7.0.84
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
packaging==23.2
parso==0.8.4
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.2
pooch==1.8.2
proglog==0.1.10
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pydub==0.25.1
Pygments==2.18.0
pyparsing==3.1.2
pyserial==3.5
python-dateutil==2.9.0.post0
python-rtmidi==1.5.8
pytube==15.0.0
pyzmq==26.0.3
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.0
setuptools==71.1.0
six==1.16.0
sounddevice==0.4.7
soundfile==0.12.1
soxr==0.3.7
stack-data==0.6.3
sympy==1.12
threadpoolctl==3.5.0
torch==2.3.1+cu118
torchaudio==2.3.1+cu118
torchvision==0.18.1+cu118
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.9.0
urllib3==2.2.2
wcwidth==0.2.13
webcolors==24.6.0
